<%= simple_form_for(@test) do |f| %>
  <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.label :string_enum, "String Enum" %>
      <!-- TODO: fix this stupid clone push shit -->
      <%= f.input :string_enum,
                        input_html: { data: { other: true } },
                        collection: Test::STRING_ENUM_OPTIONS.clone.push(f.object.string_enum).uniq
      %>
    </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
